<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>index</title>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.3.1/bootstrap.min.js}"></script>
  <link th:href="@{/css/header.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <div th:fragment="header">
    <header class="header">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">F1info</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">News</a>
              <a class="nav-link" href="#">Player</a>
              <a class="nav-link" href="#">Matches</a>
              <a class="nav-link disabled" aria-disabled="true">Forum</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>
</body>

</html>